---
http_interactions:
  - request:
      method: get
      uri: https://api.binance.com/api/v3/account?signature=ea0ca7a1d6e37048bfccc6e438252081948f783fc79fe689d98c763b0a2f9bde&timestamp=1567161446144
      body:
        encoding: US-ASCII
        string: ''
      headers:
        X-Mbx-Apikey:
          - SQiaYJXxXAhwrRrmKrBbd05WGXriMxFGi1kTVFypinHVn4r3fCy4vWQNkqnSoD2w
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-Mbx-Uuid:
          - df93eaf9-1d6b-4a74-b8cf-55681a20a14b
        X-Mbx-Used-Weight:
          - '10'
        X-Mbx-Used-Weight-1m:
          - '10'
        X-Content-Security-Policy:
          - default-src 'self'
        X-Webkit-Csp:
          - default-src 'self'
      body:
        encoding: ASCII-8BIT
        string: '{"makerCommission":10,"takerCommission":10,"buyerCommission":0,"sellerCommission":0,"canTrade":true,"canWithdraw":true,"canDeposit":true,"updateTime":1111111111111,"accountType":"MARGIN","balances":[{"asset":"BTC","free":"0.00000000","locked":"0.00000000"},{"asset":"LTC","free":"0.00000000","locked":"0.00000000"},{"asset":"ETH","free":"0.02320440","locked":"0.00000000"},{"asset":"NEO","free":"0.00000000","locked":"0.00000000"},{"asset":"BNB","free":"0.39970000","locked":"0.00000000"},{"asset":"QTUM","free":"0.00000000","locked":"0.00000000"},{"asset":"EOS","free":"0.00000000","locked":"0.00000000"},{"asset":"SNT","free":"0.00000000","locked":"0.00000000"},{"asset":"BNT","free":"0.00000000","locked":"0.00000000"},{"asset":"GAS","free"[...]
[...]
